* {
    box-sizing: border-box;
}

html {
    background: #fff;
    color: #111;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

img {
    border: none;
}

template {
    display: none;
}

pre {
    font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 0;
}

.not-used {
    color: fuchsia;
}

.not-used-but-safelisted {
    color: orange;
}

#also-not-used {
    color: aqua;
}